<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1 class="jumbotron text-center">Mission to Mars</h1>
      <p><a class = "btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>

    </div>

    <h2>Latest Mars News</h2>
    <h3>{{final_results.title}}</h3>
    <h3>{{final_results.para}}</h3>

    <h2>Featured Mars Image</h2>
    <img src = "{{final_results.img_url}}" alt="Featured Mars Image">
      
  
  </div>

</body>

</html>